<h1>New Post Form</h1>

<%= form_for(@post) do |f| %>
<%= f.label :title %>
<%= f.text_field :title %><br>

<%= f.label :content %>
<%= f.text_area :content %><br>

<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %><br>

New Category:
<%= f.fields_for :categories, Category.new do |category_builder| %>
<%= category_builder.text_field :name %>
<% end %>

<%= f.submit %>
<% end %>
