<h2>Post show page</h2>
<p>
Title:<%= @post.title %><br>
Content:<%= @post.content %>
</p>

Categories:
<p>
<% @post.categories.all.each do |category| %>
<%= category.name %><br>
<% end %>
</p>

Comments:
<p>
  <% @post.comments.all.each do |comment| %>
  <%= comment.content %><br>
  <% end %>
</p>

Users:
<p>
  <% @post.users.all.each do |user| %>
  <%= link_to user.username, user_path(user) %><br>
  <% end %>
</p>
